<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/101996-api.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="go-back">
        <a href="/"><p>powrót</p></a>
        <div class="clock-comp" id="clock-component"></div>
    </div>
    <br>
    <h2 class="h error">403 forbidden</h2>
    <h4 class="h error">strona żąda uprawnień administratora</h4><br>
    <p class="information-40x"> 
        serwer nie potrafi przetworzyć zadanego żądania<br>
        powróć do panelu głównego, klikając znacznik w górnej części strony 
    </p>

    <script type="text/javascript" src="/script/9972-hour.js" ></script>
</body>
</html>