<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/api_styles.css" />
</head>
<body>
    <div class="go-back">
        <a href="/"><p>powrót</p></a>
    </div>
    <div style="height: 100px"></div>
    <h2 class="h error">404</h2>
    <h4 class="h error">strona nie istnieje</h4><br>
    <p style="font-size: 0.7rem; color: var(--font-search-color)"> powróć do panelu głównego, klikając znacznik w górnej części strony </p>
</body>
</html>