<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/101996-api.css" />
    <link rel="stylesheet" href="/css/101997-crt-upd.css" />
    <link rel="stylesheet" href="/css/102871-det.css" />
    <link rel="stylesheet" href="/css/103998-tab.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body id="main-wrapper">
    <div class="go-back">
        <a href="/users"><p>powrót</p></a>
        <div class="clock-comp" id="clock-component"></div>
    </div>

    <h1>API bazy danych <i class="carrier-adnotation">przewoźnik</i></h1>
    <h6>nowy użytkownik</h6>

    <br>

    <div class="create-wrapper">
        <br>
        
        <form class="create-form-wrapper" method="POST" action="/create-user" autocomplete="off">
            <input type="text" name="username" placeholder="nazwa użytkownika"><br>
            <input type="password" id="password" name="password" style="font-size: 0.4rem" placeholder="hasło" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <div class="password-info">
                <div><b>co najmniej:</b></div>
                <div id="one-number">1 cyfra</div>
                <div id="one-low">1 mała litera</div>
                <div id="one-up">1 duża litera</div>
                <div id="eight-ch">8 liter</div>
            </div>
            <span>
                <input type="password" id="confirm_password" name="confirm_password" style="font-size: 0.4rem" placeholder="powtórz hasło">
                &emsp14;<input type="checkbox" class="toggle-checkbox" id="toggle-vis">
                &emsp14;<label style="width: 20px"><i class="fa-solid fa-eye-slash" id="eye-icon-password"></i></label>
            </span><br>
            <input type="submit" class="accept-button" value="utwórz" />
        </form>

        <br>
    </div>

    <script type="text/javascript" src="/script/1027-create-user.js" ></script>
    <script type="text/javascript" src="/script/9972-hour.js" ></script>

</body>
</html>