<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/101996-api.css" />
    <link rel="stylesheet" href="/css/101997-crt-upd.css" />
    <link rel="stylesheet" href="/css/102871-det.css" />
    <link rel="stylesheet" href="/css/103998-tab.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body id="main-wrapper">
    <div class="go-back">
        <a href="/stations"><p>powrót</p></a>
        <div class="clock-comp" id="clock-component"></div>
    </div>

    <h1>API bazy danych <i class="carrier-adnotation">przewoźnik</i></h1>
    <h6>nowa stacja</h6>

    <br>

    <div class="create-wrapper">
        
        <form class="create-form-wrapper" method="POST" action="/create-station" autocomplete="off">
            <input type="text" name="s_id" placeholder="identyfikator stacji" maxlength="8">
            <div class="password-info">
                <div><b>format krajowy:</b></div>
                <div id="format-przyklad">np. 
                    <i>
                    <span style="display: inline; color: green">6</span>
                    <span style="display: inline; color: blue">00</span>
                    <span style="display: inline; color: red">2700</span>
                    <span style="display: inline; color: black">0</span> --- Wrocław Główny
                    </i>
                </div>
                <div id="format"> 
                    <span style="display: inline; color: green">6</span> - id_zakladu<br> 
                    <span style="display: inline; color: blue">00</span> - zero_kontrolne - dop. 8 znaków<br> 
                    <span style="display: inline; color: red">2700</span> - id_obiektu<br> 
                    <span style="display: inline; color: black">0</span> - kod_kategoria_stacji
                </div>
            </div>
            <div class="password-info">
                <div><b>format międzynarodowy:</b></div>
                <div id="format-przyklad">np. 
                    <i>
                    <span style="display: inline; color: green">1</span>
                    <span style="display: inline; color: blue">111</span>
                    <span style="display: inline; color: red">100</span>
                    <span style="display: inline; color: black">0</span> --- Berlin Hauptbahnhof
                    </i>
                </div>
                <div id="format"> 
                    <span style="display: inline; color: green">1</span> - id_panstwa (1 - Niemcy, 2 - Czechy, 3 - Austria, 4 - Węgry, 5 - Słowacja, 6 - Ukraina, 7 - Białoruś, 8 - Litwa)<br> 
                    <span style="display: inline; color: blue">111</span> - jeden_kontrolne - dop. 8 znaków<br> 
                    <span style="display: inline; color: red">100</span> - id_obiektu (liczba porządkowa)<br> 
                    <span style="display: inline; color: black">0</span> - kod_kategoria_stacji (0 - stacja pasażerska, 1 - stacja graniczna)
                </div>
            </div><br>
            <input type="text" name="name" placeholder="nazwa stacji">
            <div class="password-info">
                <div><b>dozwolone polskie znaki</b></div>
            </div><br>
            <input type="submit" class="accept-button" value="utwórz" />
        </form>
    </div>

    <script type="text/javascript" src="/script/9972-hour.js" ></script>
</body>
</html>