<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/api_styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body style="place-content: center">
    
    <h1>API bazy danych <i style="font-weight: 400; font-size: 1rem">przewoźnik</i></h1><br>
    <div class="links">
        <a href="/connections"><i class="fa-solid fa-chevron-right"></i> &nbsp; dane <span style="font-weight: 500">połączeń</span></a><br>
        <a href="/stations"><i class="fa-solid fa-chevron-right"></i> &nbsp; dane <span style="font-weight: 500">stacyjne</span></a><br><br>
        <a href="/users" style="font-size: 0.65rem"><i class="fa-solid fa-chevron-right"></i> &nbsp;&nbsp;&nbsp; <span>użytkownicy</span></a><br>
        <a href="/settings" style="font-size: 0.65rem"><i class="fa-solid fa-chevron-right"></i> &nbsp;&nbsp;&nbsp; <span>ustawienia</span></a>
    </div>
    <br>
    <div class="footer">
        copyright © 2023
    </div>
</body>
</html>