<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/101996-api.css" />
    <link rel="stylesheet" href="/css/101997-crt-upd.css" />
    <link rel="stylesheet" href="/css/102871-det.css" />
    <link rel="stylesheet" href="/css/103998-tab.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body id="main-wrapper"
    <% if (openPopUp) { %> 
        style = "overflow-y: hidden" 
    <% } else { %>
        style = "overflow-y: auto"
    <% } %>
>
    <div class="go-back">
        <a href="/"><p>powrót</p></a>
    </div>

    <h1>API bazy danych <i class="carrier-adnotation">przewoźnik</i></h1>
    <h6>użytkownicy</h6>
    <br>

    <div class="popup-created" 
        <% if (openPopUp) { %> 
            style = "display: grid" 
        <% } else { %>
            style = "display: none"
        <% } %>
    >
        <div class="inner">
            <span class="message-box"><%= message %></span>&emsp14;&emsp14;&emsp14;
            <span class="confirm-close-popup"><a href="/users"><button id="reload-after-pop-up">OK</button></a></span>
        </div>
        <br>
    </div>

    <div class="search-create-wrapper">
        <span class="search-box" style="width: 40%">            
            <input type="text" id="search-input-users" placeholder="nazwa użytkownika">
        </span>
        <span class="create-station-box">
            <a href="/create-user"><button>nowy użytkownik</button></a>&emsp14;
            <a href="/update-user"><button style="background-color: var(--font-search-color)">modyfikuj istniejące dane użytkownika<br>
                <span style="font-size: 0.4rem"><i>panel administratora</i></button></a>
        </span>
    </div>

    <br>

    <!-- LIST ITSELF -->
    <div class="list users" id="users-list">
        <table>
            <tr style="height: 50px">
                <th style="width: 800px">ID / nazwa użytkownika</th>
                <th style="width: 125px">status<br>zalogowania</th>
                <th style="width: 75px; border-bottom: none"></th>
            </tr>

            <% usersList.forEach(user => { %>
                <tr class="list-row">
                    <% if (user.active) { %> 
                        <td class="list-update-hover" style="background-color: rgb(19, 148, 41, 0.2)" > <%= user.username %> </td>
                        <td class="list-update-hover" style="color: #ffffff; font-size: 0.3rem; background-color: var(--modal-green)"> zalogowany </td>
                    <% } else { %>
                        <td class="list-update-hover" style="background-color: rgb(148, 19, 19, 0.2)" > <%= user.username %> </td>
                        <td class="list-update-hover" style="color: #ffffff; font-size: 0.3rem; background-color: var(--modal-red)"> niezalogowany </td>
                    <% } %> 
                    <td class="list-icons">
                        <span>
                            <form method="POST" action="/users">
                                <input type="hidden" name="username" value="<%= user.username %>">
                                <button type="submit"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </span>
                    </td>
                </tr>
            <% }) %>
            
        </table>
    </div>

    <br>
    <div class="footer">
        <div>ostatnia aktualizacja: 15.02.2023</div>
        <div>copyright © 2023</div>
    </div>
</body>
</html>